body {
  background-color: white;
}
h1 {
  font-size: 3rem;
  color: black;
}
#image {
  width: 60%;
  text-align: center;
}
#poster {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
